{
	"extends": "@evo/eslint-config-uaprom",
	"env": {
		"node": true
	},
	"rules": {
		"import/no-commonjs": 0,
		"global-require": 0,
		"no-underscore-dangle": ["error", {"allowAfterThis": true, "allow": ["_test"]}],
		"no-unused-vars": ["error", { "varsIgnorePattern": "^_*" }],
	}
}
